
<div id="background">
		<div class="wrapper_wide">
		<header class="cf">
			<a href="index.html" id="logo"> Holaaa</a>
			<nav>
				<ul>
					<li><a href="eventos.html">Explore</a></li>
					<li><a href="sign-in.html">Sign In</a></li>
					<li><a href="sign-up.html">Create an Event</a></li>
				</ul>
			</nav>
		</div>
		</header>
		<div class="wrapper_skinny">
				<h1>Create a new event <br>, y demas texto.</h1>
				<a href="sign-up.html" class="button button_highlight">Create an event</a>
				<a href="eventos.html" class="button button_white">Explore</a>
		</div>
		
	</div>