<div id="eventos_show">
			<div id="show_banner">
				<div class="wrapper_skinny">
					<h1><%= @eventos.title %></h1>
					<p class="description"> <%= @eventos.description %></p>
					<a href="#" class="suscribe_link">ITunes</a>
					<a href="#" class="suscribe_link">Stitcher</a>
					<a href="#" class="suscribe_link">PodBay</a>	
				</div>
				
			</div>
		
		<div id="breadcrumb">
		<%= link_to eventos_path do %>
		All Podcasts
			<span>/</span>
				The Rocketship Podcast
		<% end %>
			
		</div>
		<div id="episodes">
			<div class="wrapper_skinny">
				<ul class="cf">
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="#">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="personas.html"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

<li class="cf">
						<div class="episode_thumbnail">
							<a href="personas.html">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="personas.html"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

<li class="cf">
						<div class="episode_thumbnail">
							<a href="personas.html">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="personas.html"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

					<li class="cf">
						<div class="episode_thumbnail">
							<a href="personas.html">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="#"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

<li class="cf">
						<div class="episode_thumbnail">
							<a href="personas.html">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="#"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

					<li class="cf">
						<div class="episode_thumbnail">
							<a href="personas.html">
								<img src="images/coca.jpg" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><a href="#"></a>How to Pull Off 12 (Well Executed) Startups in 12 Months</h2>
							<p class="description">Pedro Jimenez, founder of Levels.io, talks about how he is building 12 startups in 12 months. Not only do we cover how he is able to pull that off and to will</p>

						</div>
					</li>

				</ul>
			</div>
		</div>

		</div>
<div class="pagination" >
			<span class="previous_page disabled"> Previous </span>
			<em class="current">1</em>
			<a href="#">2</a>
			<a href="next_page" href="#">Next</a>

		</div>